@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat&family=Poppins&display=swap');

:root {
	--accent-color: #00aaef;
	--dark-bg: #1b1f24;
	--light-text: #fefefe;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--dark-bg);
	color: var(--light-text);
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

button {
	font-family: 'Poppins', sans-serif;
}

input,
textarea {
	border: none;
	outline: none;
	border: 1px solid var(--accent-color);
	width: 100%;
	border-radius: 4px;
	padding: 4px 8px;
	font-size: 0.8rem;
	background-color: var(--light-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

section {
	padding-top: 2.5rem;
	scroll-snap-align: start;
	scroll-margin-top: 2.5rem;
}

section.contact {
	padding-bottom: 2.5rem;
}

.accent {
	color: var(--accent-color);
}

.navbar-brand {
	font-family: 'Homemade Apple', sans-serif;
	font-size: 1rem;
	color: var(--accent-color);
	cursor: pointer;
}

.navbar-brand:hover {
	color: var(--accent-color);
}

.navbar-toggler {
	border: unset;
}

.navbar-toggler .fa-bars {
	color: var(--light-text);
	font-size: 1.8rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

.navbar-nav .nav-item .nav-link {
	color: inherit;
}

.navbar-nav .nav-item:hover {
	border-right: 2px solid var(--accent-color);
	background-color: var(--dark-bg);
}

.hero {
	min-height: calc(100vh - 53px);
	margin-top: 53px;
}

.hero .content {
	width: 100%;
	margin: 0 auto;
}

.hero .hero-icon {
	height: 120px;
	width: 120px;
	margin: 0 auto;
	margin-bottom: 1rem;
	position: relative;
}

.hero .hero-icon .blob {
	position: absolute;
	z-index: -1;
	height: 250px;
	width: 250px;
	left: 35%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.hero .container .accent {
	display: block;
	font-family: 'Montserrat', sans-serif;
}

.btn-primary {
	color: var(--light-text);
	background-color: #0085b6;
	border-color: #0085b6;
}

.btn-primary:hover {
	background-color: #005f83;
}

.btn-secondary {
	background-color: transparent;
	border-color: #0085b6;
	color: #0085b6;
}

.about .profile {
	height: 210px;
	width: 210px;
	border: 4px solid var(--accent-color);
	border-radius: 50%;
	overflow: hidden;
}

.text-justify {
	text-indent: 1rem;
	hyphens: auto;
	text-align: justify;
	word-spacing: -0.5px;
}

.skills .row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 100%;
	margin: 0 auto;
}

.skills .row div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.skills .row .icon {
	height: 80px;
	width: 80px;
}

.projects .card {
	background-color: #333333;
}

.projects .card h3 {
	font-size: 1.5rem;
	max-height: 60px;
}

.projects .card .card-img {
	height: 170px;
}

.projects .card .tech-stacks {
	height: auto;
	max-height: 53px;
}

.badge {
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
}

.contact form {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}

.footer {
	position: relative;
	border-top: 1px solid rgba(69, 69, 69, 1);
}

.footer .top-arrow {
	height: 40px;
	width: 40px;
	background-color: #333333;
	color: var(--accent-color);
	border-radius: 50%;
	overflow: hidden;
	text-decoration: none;
	font-size: 1.2rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -20px;
}

.footer .contacts .contact-item {
	margin-bottom: 5px;
	display: grid;
	grid-template-columns: 20px 1fr;
	gap: 10px;
	align-items: center;
}

.footer .contacts .contact-item i {
	color: var(--accent-color);
}

.footer .links {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

.footer .links li {
	width: 100%;
	padding: 8px;
	padding-left: 0 !important;
	margin-left: 0 !important;
}

.footer .links li a {
	color: inherit;
	text-decoration: none;
}

.contacts,
.links {
	border-bottom: 1px solid var(--accent-color);
}

.links li a:hover {
	color: var(--accent-color);
}

.copyright {
	font-size: 0.8rem;
	background-color: #212529;
}

/* tablets */
@media only screen and (min-width: 768px) {
	h1 {
		font-size: 2.8rem;
	}

	h2 {
		font-size: 2.3rem;
	}

	.hero .content {
		width: 650px;
	}

	.hero .hero-icon {
		height: 160px;
		width: 160px;
		margin: 0;
	}

	.hero .hero-icon .blob {
		height: 350px;
		width: 350px;
	}

	.about .profile {
		height: 300px;
		width: 300px;
	}

	.skills .row {
		grid-template-columns: repeat(5, 1fr);
	}

	.projects .card h3 {
		height: 94px;
	}

	.footer .footer-grid {
		margin-top: 3rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}

	.contacts,
	.links,
	.credits {
		border: none;
	}

	.links {
		border-left: 1px solid var(--accent-color);
		border-right: 1px solid var(--accent-color);
		height: 100%;
	}

	.links li:nth-child(1) {
		padding-top: 0;
	}
}

/* tablets */
@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	.navbar-nav .nav-item {
		transition: ease-in 0.3s;
		padding-left: 1rem;
		border-bottom: 1px solid transparent;
	}

	.navbar-nav .nav-item:hover {
		border-right: unset;
		background-color: unset;
		border-color: var(--accent-color);
	}

	.navbar-nav .nav-item .nav-link {
		color: var(--light-text);
	}

	.hero .content {
		width: 900px;
	}

	.hero .hero-icon {
		height: 200px;
		width: 200px;
	}

	.hero .hero-icon .blob {
		height: 450px;
		width: 450px;
	}

	.badge {
		font-size: 12px;
	}

	.projects .card .tech-stacks {
		height: 50px;
	}
}
